# Unreal 기본 무시
/Binaries/
/Intermediate/
/DerivedDataCache/
/Saved/
/Build/
/.plugins/

# VS / Rider
*.sln
*.suo
*.opensdf
*.VC.db
*.VC.VC.opendb
/.vs/
/.idea/

# ────────────
!/Content/DarkEden/
!/Content/DarkEden/**
!/Content/Maps/
!/Content/Maps/**
!/Content/Developers/
!/Content/Developers/**
!/Content/Blueprints/
!/Content/Blueprints/**
!/Content/Materials/
!/Content/Materials/**
!/Content/Textures/
!/Content/Textures/**
/Content/*
# ─────────────────────────────────────